#canvasContainer {
    position:relative;
    width: 100%;
    height: 95vh;
}

#leftMenu {
    position: absolute;
    background-color: #000;
    float: left;
    background-color: #f0f0f0;
    resize: horizontal;
    overflow-x: auto;
    width: 30%;
    max-width: 95vh;
    height: 45vh;
    opacity: .4;
    transition: 150ms linear;
    border-radius: 5px;
}
#leftMenu:hover{
    opacity:.9;
}
.mainCanvas {
    float: right;
    width:100%;
    height:95%;
}
.settingButton{
    margin: 10px;
    float: left;
    background-color: #bbb;
    border-radius: 3px;
    border-width: 1px;
    border-color:#333;
    border-style: groove;
}
.settingButton:hover {
    background-color: #999;
}
.settingButton::after {
    background-color: #000;
}
